body {
    font-family: Arial, sans-serif;
    background-color: #f8f4ff;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.card img {
    width: 100%;
    height: auto;
}

.card button {
    background-color: #bdbdf2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.card button:hover {
    background-color: #79a0c1;
}
